---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Rodney Rochester</h1>
			<p>
				Hello, my name is Rodney Rochester. I’ve been in construction since the 
				age of 18 and I have been in the tower industry since 2011. I love the 
				telecom industry and I strive every day to be better than yesterday. 
			</p>
			<p>
				<a href="/about">Learn more about my experience and skills</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
